.manifest-nav ul {
    margin-top: 0.4em;
}
pre {
    white-space: pre-wrap;
}
.bordered { 
    border: 1px solid blue;
}
.manifest-nav button {
    border:0;
    padding:0 0.2em;
    margin:0;
    font-size: larger;
    background-color: transparent;
    font-family: monospace!important;
    font-size: larger;
    font-weight: bolder;
}
.resource-header button {
    color: white;
}
ul.list-group, li.list-group-item {
    display: none;
}
.resource-editor {
    border: 1px solid lightgray;
}
#gridview .tc {
    padding:15px;
    float:left;
}
.tc img {
    cursor: pointer;
    border: 2px solid white;
}
.selected-canvas img {
    cursor: auto;
    border: 2px solid red;
}

#slidestrip, #treeContainer{
    overflow-y: scroll;
    height: 80vh;
}
#slidestrip {
    background-color: #eee;
}


#slidestrip .tc {
    padding: 15px;
}
#resourceTempText span {
    font-size: x-small;
}

#resourceEditor .nav-link {
    padding: 0.15rem 0.4rem;
}

.rhs-component, .rhs-component-part {
    display: none;
}

#resourceEditor form {
    padding: 0.75rem;
    font-size: smaller;
}

#resourceEditor h4 {
    padding-top: 0.2rem;
    font-size: 1.1rem;
} 
#resourceEditor h5 {
    font-size: 0.9rem;
} 
#resourceEditor h6 {
    font-size: 0.8rem;
} 
#resourceEditor select {
    font-size: small;
}

#resourceTabs .nav-link {
    cursor: pointer;
}



/* MODAL: New Canvas, Media  */
.try {
    margin:10vw;
    font-size: smaller;
}

.media-info {
    display: none;
}

.img-preview {
    float: left;
    margin-right: 1em;
    padding-bottom: 1em;
    max-width: 120px;
    max-height: 120px;
}

.img-service {
    float: left;
    max-width: 20vw;
    font-size: smaller;
}

.manifest-preview {
    padding-top: 1em;
    font-size: smaller;
}

h5 {
    clear:both;
}

.modal-body h5 {
    margin-top: 0.9rem;
}

.annotation-page h5 {
    margin-top:0.9rem;
}

.anno-page-items {
    margin-left:0.9rem;
}

.anno-page-items .annotation {
    margin:0.3rem 0.4rem 0.9rem 0.9rem;
}

.external-resource-mini, .add-another-resource {
    cursor: pointer;
}

#canvasPaintingTargetXywh {
    display: none;
}

#hoistedAnnoContainer {
    display: none;
}

.annotation-mini {
    font-size: smaller;
    padding:0.5rem;
}

.annotation-mini p {
    margin-bottom: 0;
}

.annotation-mini-info {
    font-weight: bold;
    color: gray;
    font-style: italic;
}

.annotation-mini img {
    max-width: 200px;
    max-height: 200px;
}