.manifest-nav ul {
    margin-top: 0.4em;
}
pre {
    white-space: pre-wrap;
}
.bordered { 
    border: 1px solid blue;
}
.manifest-nav button {
    border:0;
    padding:0 0.2em;
    margin:0;
    font-size: larger;
    background-color: transparent;
    font-family: monospace!important;
    font-size: larger;
    font-weight: bolder;
}
.resource-header button {
    color: white;
}
ul.list-group, li.list-group-item {
    display: none;
}
.resource-editor {
    border: 1px solid lightgray;
}
#gridview .tc {
    padding:15px;
    float:left;
}
.tc img {
    cursor: pointer;
    border: 2px solid white;
}
.selected-canvas img {
    cursor: auto;
    border: 2px solid blue;
}

#slidestrip, #treeContainer{
    overflow-y: scroll;
    height: 80vh;
}
#slidestrip {
    background-color: #eee;
}


#slidestrip .tc {
    padding: 15px;
}
#resourceTempText span {
    font-size: x-small;
}