body {
    font-family: sans-serif;
}
#sourceDisplay {
    width:800px;
    height:7vh;
    margin-bottom: 0.3em;
}
.row {
    clear:both;
    margin-bottom: 0.4em;
    font-size: smaller;
}
button {
    width:2em;
}
#go {
    width:3.4em;
}
#cp {
    margin-top: 0.5em;
    border: 1px dashed darkblue;
    width:800px;
    height:600px;
}
.canvas {    
    margin:auto;
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, lightgray 1px, transparent 1px),
        linear-gradient(to bottom, lightgray 1px, transparent 1px);
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
input[type=text], #mode {
    width: 9em;
    margin-right:0.5em;
}
input[type=text].dimension {
    width:4em;
}