
li.resource-colour-Manifest {
    background-color: #DDDDDD!important;
    color:black!important;
}
li.resource-colour-Manifest button{
    color:black!important;
}

li.resource-colour-Canvas {
    background-color: #FFDEDB!important;
    color:black!important;
}
li.resource-colour-Canvas button{
    color:black!important;
}

li.resource-colour-Collection {
    background-color: #F0FEEF!important;
    color:black!important;
}
li.resource-colour-Collection button{
    color:black!important;
}

li.resource-colour-Range {
    background-color: #90D59D!important;
    color:black!important;
}
li.resource-colour-Range button{
    color:black!important;
}

li.resource-colour-AnnotationPage {
    background-color: #FFE1AA!important;
    color:black!important;
}
li.resource-colour-AnnotationPage button{
    color:black!important;
}

li.resource-colour-Annotation {
    background-color: #F6FDB5!important;
    color:black!important;
}
li.resource-colour-Annotation button{
    color:black!important;
}

li.resource-colour-ContentResource {
    background-color: #CFF7FF!important;
    color:black!important;
}
li.resource-colour-ContentResource button{
    color:black!important;
}